{
  "multicast_url": "udp://239.0.0.1:1234",
  "multicast_iface": "eth0",
  "stream_name": "live",
  "abr_profile": "1080p",
  "encoder": "nvenc",
  "nvenc_preset": "p4",
  "nvenc_rc": "cbr",
  "nvenc_lookahead": "0",
  "nvenc_aq": "0",
  "nvenc_gpu": "0",
  "pix_fmt": "yuv420p",
  "color_range": "tv",
  "color_space": "bt709",
  "bit_1080p": "5500",
  "bit_720p": "3500",
  "bit_480p": "2000",
  "bit_360p": "500",
  "master_bandwidth": "5728000",
  "master_avg_bandwidth": "5328000",
  "master_codecs": "avc1.640028,mp4a.40.2",
  "master_framerate": "25.000",
  "audio_stream": "0:1",
  "audio_rate": "48000",
  "abit_1080p": "192",
  "abit_720p": "128",
  "abit_480p": "96",
  "abit_360p": "64",
  "segment_time": "4",
  "playlist_size": "5",
  "source_fps": "25",
  "gop_size": "0",
  "restart_delay": "3"
}
